* {
    margin: 0 auto;
    padding: 0;
}
body {
    background: #A8A8A8;
}
header {
    text-align: center;
    padding: 20px;
}
header h2.title a {
    text-decoration: none;
    color: #2080A6;
}
div.container {
    overflow: hidden;
    width: 70%;
    background: #FFF;
}

div.content {
    padding: 50px;
    background: rgba(189, 254, 204, 1.0);
}

/* List Materi*/
div.materi-list {
    overflow: hidden;
    padding: 20px;
}
div.materi-list ul {
    list-style-type: none;
}
div.materi-list ul li {
    float: left;
}
div.materi-list ul li a{
    text-align: center;
    height: 181px;
    width: 181px;
    border: 3px solid rgba(13, 130, 204, 1.0);
    overflow: hidden;
    box-sizing: border-box;
    background: #FFF;
    text-decoration: none;
    color: #FFF;
    margin: 10px;
    display: block;
}
img.image-list {
    width: 130px;
    height: auto;
}
img.persegi {
    padding-top: 20px;
}
img.persegi-panjang {
    padding-top: 50px;
}
img.segitiga {
    padding-top: 20px;
}
img.jajar {
    padding-top: 50px;
}
img.trapesium {
    padding-top: 50px;
}
img.ketupat {
    padding-top: 30px;
    height: 100px;
}
img.layang {
    width: 110px;
    padding-top: 10px;
}
img.lingkaran {
    padding-top: 20px;
}


section.materi {
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    box-shadow: 3px 3px 4px #5C5C5C;
    background: #FFFFFF;
}
/*Materi gambar*/
img.materi-gambar {
    display: block;
    width: auto;
    height: 200px;
    margin: auto;
}
/*Materi judul*/
h3.materi-judul {
    text-align: center;
    padding: 10px;
}

/*Materi Definisi*/
p.materi-definisi {
    padding: 10px 20px 25px ;
}

/*Materi sifat*/
div.materi-sifat {
    float: left;
    display: block;
    background: #EF8383;
    padding: 10px 20px;
    width: 50%;
    min-height: 100px;
}
div.materi-sifat li {
    margin-left: 20px;
}


/*Materi rumus */
div.materi-rumus {
    overflow: hidden;
    display: block;
    background: #6BD7E5;
    padding: 10px 20px;
    width: auto;
}
/* Materi Menghitung*/
div.materi-menghitung {
    background: #F8FF7A;
    float: left;
    display: block;
    width: 50%;
    padding: 10px 20px;
    text-align: center;
}
button[type="submit"] {
    display: inline-block;
    background: #F278D6;
    border: none;
    padding: 10px 15px;
    margin: 10px auto;
}
div.materi-menghitung label,
div.materi-menghitung input,
div.materi-menghitung p {
    margin: 10px auto;
    display: block;
}

/*Custome size input*/

/*Materi hasil*/
div.materi-hasil {
    overflow: hidden;
    display: block;
    padding: 10px 20px 33px 20px;
    display: block;
    background: #D381EF;
}
div.materi-hasil p {
    margin: 10px;
    text-align: center;
}
div.materi-hasil input {
    border-bottom: solid #FFFFFF;
    display: block;
    padding: 5px 0;
    margin: 5px auto;
    text-align: center;
}

/* Input FORM */
input {
    text-align: center;
    background: rgba(0,0,0, 0);
    border: none;
    border-bottom: 3px solid #45D4FF;
}
input:focus {
    outline: none
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}
